.contact {
  background-color: var(--color-light);
  padding: 1rem;
}
.contact h2 {
  position: relative;
  z-index: 5;
  font-size: 2rem;
  color: var(--color-dark);
  padding: 2rem 0 1rem 0;
}

.contact p {
  font-size: 0.9rem;
  color: var(--color-dark);
  padding-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input {
  margin-bottom: 1rem;
  padding: 0.25rem 0rem 0.25rem 2rem;
  background-color: var(--color-dark);
  color: white;
  border: 3px solid white;
  outline: none;
  height: 40px;
  border-radius: 25px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--color-primary);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder,
.contact-form textarea,
.contact-form input {
  color: var(--color-white);
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.25rem 0rem 0.25rem 1rem;
  background-color: var(--color-dark);
  color: var(--color-white);
  border: 3px solid var(--color-white);
  outline: none;
  height: 100px;
}

.btn-contact {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.btn-contact:hover {
  opacity: 0.8;
}
