.about {
  position: relative;
  background-color: var(--color-light);
}

.title-icon {
  position: relative;
}
.title-icon .design-main {
  position: relative;
  display: block;
  font-size: 10rem;
  text-align: center;
  padding-top: 1rem;
  color: var(--color-secondary);
  z-index: 5;
}

.title-icon .design-secondary {
  position: absolute;
  z-index: 4;
}

.title-icon .design-secondary.one {
  color: var(--color-primary-light);
  font-size: 2rem;
  font-style: italic;
  left: calc(50% + 4.5rem);
  bottom: calc(50% + 2rem);
}
.title-icon .design-secondary.two {
  color: var(--color-primary-light);
  font-size: 2.5rem;
  font-style: italic;
  left: calc(50% + 3rem);
  bottom: calc(50% - 4.5rem);
}
.title-icon .design-secondary.three {
  color: var(--color-primary-light);
  font-size: 3rem;
  font-style: italic;
  left: calc(50% - 7rem);
  bottom: calc(50% - 4rem);
}
.title-icon .design-secondary.four {
  color: var(--color-primary-light);
  font-size: 5rem;
  font-style: italic;
  left: calc(50% - 6rem);
  bottom: calc(50% + 0.5rem);
}
.title-icon .design-secondary.four::after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 190px;
  width: 240px;
  height: 4px;
  background-color: var(--color-dark);
  opacity: 0.25;
}
.title-icon .design-secondary.five {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-secondary-light);
  opacity: 0.4;
  position: absolute;
  left: 50%;
  top: 59px;
  z-index: 3;
}

/* STAR ICON */
.star-icon {
  margin: 1em auto;
  font-size: 5rem;
  position: absolute;
  top: 175px;
  left: -16px;
  opacity: 0.4;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--color-secondary-light);
  border-left: 1em solid transparent;
  transform: rotate(120deg);
}
.star-icon:before {
  border-bottom: 0.8em solid var(--color-secondary-light);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.star-icon:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--color-secondary-light);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

/* ********** */
.about-paragraph {
  padding: 1rem;
  color: var(--color-black);
  text-align: justify;
  margin-top: -2rem;
  line-height: 1.7;
}
.about-paragraph span {
  color: var(--color-dark);
  display: block;
  font-weight: bold;
}

.btn-about {
  background-color: var(--color-secondary);
  z-index: 5;
}

.btn-about:hover {
  background-color: var(--color-secondary-light);
}

@media screen and (min-width: 750px) {
  .title-icon .design-main {
    font-size: 15rem;
  }
  .title-icon .design-secondary.one {
    font-size: 3rem;
    left: calc(50% + 6rem);
  }
  .title-icon .design-secondary.two {
    font-size: 4rem;
    left: calc(50% + 5.5rem);
    bottom: calc(50% - 6rem);
  }
  .title-icon .design-secondary.three {
    font-size: 5rem;
    left: calc(50% - 11rem);
    bottom: calc(50% - 6rem);
  }
  .title-icon .design-secondary.four {
    font-size: 7rem;
    left: calc(50% - 10rem);
    bottom: calc(50% + 0.5rem);
  }
  .title-icon .design-secondary.four::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    top: 269px;
    width: 365px;
    height: 4px;
    background-color: var(--color-dark);
    opacity: 0.25;
  }
  .title-icon .design-secondary.five {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-secondary-light);
    opacity: 0.4;
    position: absolute;
    left: 47%;
    top: 67px;
    z-index: 3;
  }
  .about-paragraph {
    font-size: 1.15rem;
    padding: 0 5rem 2rem 5rem;
    margin-top: -3rem;
  }
  .about .btn.btn-about {
    width: 250px;
    height: 60px;
    border-radius: 50px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
      "icon paragraph"
      "icon paragraph";
    padding: 7rem 4rem;
    max-width: 1200px;
    margin: auto;
  }
  .about .title-icon {
    grid-area: icon;
    padding: 0;
    margin: 0;
  }
  .about .about-paragraph {
    grid-area: paragraph;
    margin: 0;
    padding: 0;
    padding-left: 5rem;
  }
  .star-icon {
    right: -75%;
  }
  .about .btn-container {
    align-items: flex-start;
  }
}
