.about {
  position: relative;
  background-color: #f8f9ff;
}

.title-icon {
  position: relative;
}
.title-icon .design-main {
  display: block;
  font-size: 10rem;
  text-align: center;
  padding-top: 1rem;
  color: #36454f;
}

.title-icon .design-secondary {
  position: absolute;
  font-size: 3rem;
}

.title-icon .design-secondary.one {
  color: rgba(128, 128, 128, 0.245);
  font-size: 2rem;
  left: calc(50% + 4.5rem);
  bottom: calc(50% + 2rem);
}

/* DESIGN ICON */
.design-icon {
  --star-color: goldenrod;
  margin: 1em auto;
  font-size: 4em;
  position: absolute;
  top: -75px;
  left: 0px;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(120deg);
}
.design-icon:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.design-icon:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

/* ********** */
.about-paragraph {
  padding: 1rem;
  color: #36454f;
  margin-top: -2rem;
  line-height: 1.7;
}
.about-paragraph span {
  display: block;
  font-weight: bold;
}

.about-btn-container {
  padding: 3rem 0 3rem 0;
}
.about-btn-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin: 0 auto 1rem auto;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 3px solid goldenrod;
  color: white;
  background-color: #36454f;
  font-weight: 500;
}
.about-btn-container .btn:hover {
  color: goldenrod;
}
