.staff {
  background-color: var(--color-primary);
  padding: 3rem 1rem 3rem 1rem;
}

.staff .btn-container {
  padding-bottom: 2rem;
}
.btn-staff {
  background-color: var(--color-secondary);
}
.btn-staff:hover {
  background-color: var(--color-secondary-light);
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.person img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--color-primary-light);
}

.person .name {
  font-size: 1.2rem;
  font-weight: bold;
}
.person .desc {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-dark);
}
