.staff {
  position: relative;
  background-color: var(--color-black);
  padding: 5rem 1rem 5rem 1rem;
}

.staff .btn-container {
  padding-bottom: 3rem;
}
.btn-staff {
  position: relative;
  z-index: 4;
  background-color: var(--color-secondary);
}
.btn-staff:hover {
  background-color: var(--color-secondary-light);
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.person img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-primary-light);
}

.person .name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white);
}
.person .desc {
  font-size: 0.8rem;
  color: var(--color-secondary);
}

.staff .design-star-bottom {
  width: 22px;
  height: 100px;
  background-color: var(--color-primary-light);
  position: absolute;
  bottom: -193px;
  right: 64px;
  transform: rotate(20deg);
}
.staff .design-star-bottom::after {
  content: "";
  width: 20px;
  height: 100px;
  background-color: var(--color-primary-light);
  position: absolute;
  bottom: -2px;
  left: 0px;
  transform: rotate(124deg);
}
.staff .design-star-bottom::before {
  content: "";
  width: 20px;
  height: 100px;
  background-color: var(--color-primary-light);
  position: absolute;
  bottom: 1px;
  left: -1px;
  transform: rotate(56deg);
}

.benefits .design {
  position: absolute;
  top: -50px;
  right: 0;
  display: block;
  width: 35px;
  height: 120px;
  background-color: var(--color-secondary);
  opacity: 0.95;
}
.benefits .design::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 20px;
  display: block;
  width: 40px;
  height: 120px;
  background-color: var(--color-secondary);
}

.staff .design-top {
  position: absolute;
  top: -25px;
  right: 0;
  display: block;
  width: 25px;
  height: 120px;
  background-color: var(--color-secondary);
  opacity: 0.95;
}
.staff .design-top::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 25px;
  display: block;
  width: 25px;
  height: 80px;
  background-color: var(--color-secondary);
}
.staff .design-top::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 50px;
  display: block;
  width: 25px;
  height: 40px;
  background-color: var(--color-secondary);
}

.staff .design-bottom {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  display: block;
  width: 25px;
  height: 120px;
  background-color: var(--color-secondary);
  opacity: 0.95;
}

.staff .design-bottom::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 25px;
  display: block;
  width: 25px;
  height: 80px;
  background-color: var(--color-secondary);
}

.staff .design-bottom::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 50px;
  display: block;
  width: 25px;
  height: 40px;
  background-color: var(--color-secondary);
}

swiper-container {
  max-width: 750px;
}

@media screen and (min-width: 750px) {
  .staff .btn.btn-staff {
    width: 250px;
    height: 60px;
    border-radius: 50px;
    font-size: 1.2rem;
  }
  .staff .design-top {
    position: absolute;
    top: -15px;
    right: 0;
    display: block;
    width: 84px;
    height: 200px;
    background-color: var(--color-dark);
    opacity: 0.95;
  }
  .staff .design-top::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 50px;
    display: block;
    width: 123px;
    height: 145px;
    background-color: var(--color-dark);
  }
  .staff .design-top::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 164px;
    display: block;
    width: 78px;
    height: 79px;
    background-color: var(--color-dark);
  }

  .staff .design-bottom {
    position: absolute;
    bottom: -15px;
    right: 0;
    display: block;
    width: 84px;
    height: 200px;
    background-color: var(--color-dark);
    opacity: 0.95;
  }
  .staff .design-bottom::before {
    content: "";
    position: absolute;
    top: 121px;
    left: 181px;
    display: block;
    width: 78px;
    height: 79px;
    background-color: var(--color-dark);
  }
  .staff .design-bottom::after {
    content: "";
    position: absolute;
    left: 58px;
    display: block;
    background-color: var(--color-dark);
    width: 123px;
    height: 145px;
    top: 55px;
  }
  .staff .design-star-bottom {
    height: 130px;
    bottom: -218px;
    right: 120px;
  }
  .staff .design-star-bottom::before {
    height: 130px;
  }
  .staff .design-star-bottom::after {
    height: 130px;
  }
}

@media screen and (min-width: 750px) {
  .staff .design-star-bottom {
    bottom: -85px;
  }
}
