.staff {
  position: relative;
  background-color: var(--color-black);
  padding: 3rem 1rem 3rem 1rem;
}

.staff .btn-container {
  padding-bottom: 2rem;
}
.btn-staff {
  position: relative;
  z-index: 4;
  background-color: var(--color-secondary);
}
.btn-staff:hover {
  background-color: var(--color-secondary-light);
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.person img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--color-primary-light);
}

.person .name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white);
}
.person .desc {
  font-size: 0.8rem;
  color: var(--color-secondary);
}

.staff .design-star-top {
  width: 22px;
  height: 100px;
  background-color: var(--color-primary-light);
  position: absolute;
  top: -20px;
  right: 50px;
  transform: rotate(20deg);
}
.staff .design-star-top::after {
  content: "";
  width: 20px;
  height: 100px;
  background-color: var(--color-primary-light);
  position: absolute;
  bottom: -2px;
  left: 0px;
  transform: rotate(124deg);
}
.staff .design-star-top::before {
  content: "";
  width: 20px;
  height: 100px;
  background-color: var(--color-primary-light);
  position: absolute;
  bottom: 1px;
  left: -1px;
  transform: rotate(56deg);
}

.staff .design-star-bottom {
  width: 50px;
  height: 200px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: -100px;
  left: 0;
}
.staff .design-star-bottom::after {
  content: "";
  width: 40px;
  height: 150px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 46px;
  left: 46px;
  transform: rotate(45deg);
}
.staff .design-star-bottom::before {
  content: "";
  width: 40px;
  height: 150px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 1px;
  left: 52px;
  transform: rotate(124deg);
}
