@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap");

main {
  height: 400vh;
}
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 15px 0px;
  padding: 1rem;
  z-index: 999;
}
.nav-list {
  height: 4rem;
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

nav .medium-scr {
  display: none;
}

a {
  text-decoration: none;
}
.nav-item a {
  color: var(--color-black);
  font-size: 1.25rem;
  padding: 0.75rem;
  line-height: 0;
}
.nav-item a:hover {
  color: var(--color-dark);
}
.nav-item button {
  border: none;
  background: var(--color-white);
  cursor: pointer;
  padding: 0.75rem;
}

.nav-icon {
  margin-bottom: -1rem;
}

.icon {
  font-size: 1.5rem;
}

.brand-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.brand-logo .name {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  color: var(--color-black);
}
.full-menu {
  position: fixed;
  transform: translateX(100%);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--color-light);
}
.full-menu.open {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.full-menu.close {
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}
/* **************** */
.full-menu-nav {
  padding: 1rem;
  height: 3rem;
  background-color: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 15px 0px;
}

.full-menu-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 600px;
  margin: auto;
}

.full-menu-nav-item {
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.75rem;
  line-height: 0;
}
.full-menu-nav-item.icon {
  margin-bottom: -0.5rem;
}

.full-menu-body-list {
  padding: 1rem;
  list-style: none;
}
.full-menu-body-item {
  margin-bottom: 0.75rem;
}
.full-menu-body-item a {
  display: flex;
  align-items: center;
  color: var(--color-black);
  padding: 0.5rem;
  width: fit-content;
}
.full-menu-body-item a:hover {
  color: var(--color-primary);
}
.full-menu-body-icon {
  margin-right: 0.75rem;
  line-height: 0;
  color: var(--color-primary);
}

/* STAR LOGO */
.brand-logo .logo {
  margin: 1em auto;
  margin-right: 0.3rem;
  font-size: 1.5rem;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--color-primary);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.brand-logo .logo:before {
  border-bottom: 0.8em solid var(--color-primary);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.brand-logo .logo:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--color-primary);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

@media screen and (max-width: 360px) {
  .brand-logo .name {
    font-size: 2rem;
  }
  .brand-logo .logo {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 850px) {
  .nav-list {
    max-width: 1200px;
  }
  .brand-logo .name {
    font-size: 4rem;
  }
  .brand-logo .logo {
    font-size: 2rem;
  }
  nav .small-scr {
    display: none;
  }
  nav .medium-scr {
    display: initial;
  }
  .links-container {
    margin-bottom: -20px;
  }

  .links-container.between .text {
    opacity: 0.85;
  }
  .links-container.between .text:hover {
    opacity: 1;
  }

  .nav-item a {
    font-size: 1rem;
    color: var(--color-dark);
  }
  .nav-item a:hover {
    color: var(--color-primary);
  }

  .line {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 1px;
    height: 25%;
    top: 50%;
    background-color: var(--color-dark);
    opacity: 0.5;
  }
  .nav-item .btn {
    background: var(--color-primary);
    border-radius: 20px;
    margin-left: 10px;
    color: var(--color-black);
    transition: all 0.5s;
  }
  .nav-item .btn:hover {
    opacity: 0.8;
    color: var(--color-black);
  }
}

@media screen and (min-width: 1000px) {
  .links-container.between .nav-item:not(:last-child) {
    margin-right: 1rem;
  }
}
