.introduction {
  background-color: var(--color-black);
  margin-top: 6rem;
}

h1 {
  font-size: 2rem;
  color: var(--color-white);
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}
.special-clr {
  color: var(--color-primary);
}
.introduction p {
  color: var(--color-white);
  text-align: justify;
  padding: 1rem;
}
.introduction p span {
  color: var(--color-primary);
  font-weight: bold;
}

.btn-introduction {
  background-color: var(--color-secondary);
  color: var(--color-black);
}
.btn-introduction:hover {
  background-color: var(--color-secondary-light);
}
