.introduction {
  background-color: var(--color-black);
  margin-top: 6rem;
}

h1 {
  font-size: 2rem;
  color: var(--color-white);
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}
.special-clr {
  color: var(--color-primary);
}
.introduction p {
  color: var(--color-white);
  text-align: justify;
  padding: 1rem;
}
.introduction p span {
  color: var(--color-primary);
  font-weight: bold;
}
.introduction-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.introduction-btn-container .btn {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin: 0 auto 1rem auto;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-weight: bold;
  font-size: 1rem;
}
.introduction-btn-container .btn:hover {
  background-color: var(--color-secondary-light);
}
