.introduction {
  background-color: black;
  margin-top: 6rem;
}

h1 {
  color: white;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}
.special-clr {
  color: goldenrod;
}
.introduction p {
  color: white;
  padding: 1rem;
}

.introduction-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.introduction-btn-container .btn {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  margin: 0 auto 1rem auto;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 1px solid white;
  background-color: goldenrod;
  font-weight: 500;
}
.introduction-btn-container .btn:hover {
  border: 2px solid white;
  background-color: black;
  color: goldenrod;
}
