.main-courses {
  margin-top: 110px;
  padding: 1rem;
}

.search-container {
  position: relative;
  margin: auto;
  margin-bottom: 30px;
  width: 90%;
  max-width: 400px;
  display: flex;
}

.search-input {
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: none;
  background-color: var(--color-light);
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(99, 99, 99, 0.294) 0px 2px 8px 0px;
  width: 100%;
  outline: 2px solid rgba(0, 0, 0, 0.241);
  color: var(--color-black);
}
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.627);
}

.search-icon {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 4px;
  color: var(--color-dark);
}
.search-icon:before {
  position: absolute;
  content: "";
  top: -5px;
  right: 25px;
  width: 2px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.106);
}

.main-courses-container {
  margin: auto;
}
.main-course {
  padding-bottom: 5px;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 15px;
  cursor: pointer;
  max-width: 350px;
}

.main-course:hover {
  box-shadow: rgba(50, 50, 93, 0.593) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.557) 0px 1px 3px -1px;
}

.main-courses-container .course-image {
  display: block;
  width: 100%;
  max-height: 180px;
  margin-bottom: 10px;
  border-radius: 15px 15px 5px 5px;
  border: none;
  margin: 0;
}

.main-courses-container .course-description {
  padding-left: 10px;
  padding-right: 15px;
}

.main-courses-container .title {
  font-size: 1.35rem;
  margin-bottom: 5px;
  width: 100%;
  letter-spacing: 0.5px;
}
.main-courses-container .content-list {
  font-size: 0.75rem;
  margin-left: 1rem;
  padding-left: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.main-courses-container .content-list h5 {
  position: relative;
  left: -20px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
}

.main-courses-container .item span {
  display: block;
  position: relative;
  left: -5px;
  margin-bottom: 5px;
}
.main-courses-container .item::marker {
  color: #36454fa1;
}

.main-courses-container .price {
  display: block;
  text-align: right;
  font-weight: bold;
}

.main-courses-container .course-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.main-course-btn {
  font-size: 0.8rem;
}
.main-course-btn:hover {
  font-size: 0.8rem;
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .main-courses-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 850px;
  }
}
@media screen and (min-width: 1150px) {
  .main-courses-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1150px;
  }
}
