.hero {
  background-color: var(--color-secondary-light);
  width: 100%;
  height: 250px;
}

.single-course {
  margin-top: 75px;
}

.single-course .main-content {
  margin-top: -200px;
}

.single-course .course-title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 25px;
}
.course-chapter {
  padding-left: 25px;
  font-weight: 500;
}
.single-course .course-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 0.8rem;
  margin: 0 0 25px 40px;
}
.single-course .course-nav li {
  margin-right: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.single-course .course-nav li:hover {
  opacity: 0.75;
}
.single-course .course-nav li.active,
.single-course .course-nav li.active:hover {
  opacity: 1;
  color: mediumblue;
}
.single-course .course-nav li::before {
  content: "/";
}
.single-course .display-content {
  display: block;
  height: 50vh;
  max-height: 600px;
  width: 95%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
}
.single-course .content-list {
  padding: 15px 20px;
  list-style: none;
  margin: 0px auto 10px auto;
  height: 500px;
  overflow-y: scroll;
  max-width: 450px;
}
.single-course .content-list .item {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.content-list .item .chapter-header {
  padding: 5px;
}
.content-list .item.not-avaliable {
  opacity: 0.7;
}
.content-list .item.active {
  background-color: var(--color-dark);
  color: white;
}
.item.active .sub-list-details .detail-item.video-link:hover {
  color: var(--color-secondary-light);
}
.content-list .item .arrow-down {
  position: absolute;
  margin-top: 2px;
  right: 10px;
}
.content-list .item .locked {
  color: var(--color-dark);
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
}
.content-list .sub-list {
  display: block;
  margin-left: 50px;
  font-size: 0.9rem;
  list-style-type: disclosure-closed;
  font-weight: 400;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s, max-height 0.25s;
}
.content-list .sub-list.current {
  opacity: 1;
  max-height: 2000px;
  transition: opacity 0.3s, max-height 5s;
}

.sub-list .sub-item::marker {
  color: rgba(0, 0, 0, 0.493);
}
.sub-list .sub-item {
  list-style: none;
}

.sub-list .sub-item .sub-item-header {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-item .sub-item-header.active {
  color: var(--color-secondary);
}
.sub-list .sub-item .sub-item-header .duration {
  margin-top: 2px;
}

.sub-list .sub-item .sub-list-details {
  position: relative;
  padding: 5px 20px 10px 20px;
  font-size: 0.75rem;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0;
  transition: opacity 0.3s, max-height 0.25s;
}
.sub-list .sub-item .sub-list-details.current {
  padding: 5px 20px 10px 20px;
  opacity: 1;
  max-height: 2000px;
  transition: opacity 0.2s, max-height 5s;
}

.sub-list .sub-item .sub-list-details.active {
  color: var(--color-secondary-light);
}
.sub-list-details .detail-item.video-link {
  font-size: 0.8rem;
  list-style-type: disclosure-closed;
  margin-left: -15px;
  margin-bottom: 5px;
  text-decoration: underline;
}
.sub-list-details .detail-item.video-link:hover {
  color: blue;
}
.sub-list-details.active .detail-item.video-link {
  color: var(--color-secondary-light);
}
.detail-item.video-link .locked {
  margin-left: 4px;
}
.sub-list-details .detail-item .duration {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
  opacity: 0.6;
}

.sub-list .sub-item .arrow-down {
  position: absolute;
  margin-top: 4px;
  left: 40px;
  width: fit-content;
  transform-origin: 6px 7px;
}
.arrow-down.current {
  transform: rotate(90deg);
}
.sub-item .duration {
  font-size: 0.65rem;
}

.single-course .toaster-container {
  width: 60%;
  max-width: 500px;
  position: fixed;
  top: 100px;
  left: 20px;
}
.single-course .toaster-container .toaster {
  position: relative;
  overflow: hidden;
  background-color: #dc3545;
  font-size: 0.7rem;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0 0 12px #999;
  color: #fff;
}
.toaster .close {
  font-size: 1rem;
  position: absolute;
  top: 8px;
  margin-left: 5px;
}
@media screen and (max-width: 400px) {
  .single-course .course-nav {
    flex-direction: column;
  }
}
