.benefits {
  position: relative;
  background-color: var(--color-black);
  padding: 1rem 1rem 4rem 1rem;
}

.benefits h2 {
  position: relative;
  color: var(--color-secondary);
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  z-index: 4;
}

.benefit-container {
  margin-bottom: 2.5rem;
}
.benefit-container .title-container {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}
.title-container .icon {
  margin-bottom: -1rem;
  font-size: 2rem;
}

.title-container .title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.benefit-container .description {
  color: var(--color-secondary-light);
  font-size: 0.9rem;
}

.benefits .design {
  position: absolute;
  top: -50px;
  right: 0;
  display: block;
  width: 35px;
  height: 120px;
  background-color: var(--color-primary);
  opacity: 0.95;
}
.benefits .design::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 20px;
  display: block;
  width: 40px;
  height: 120px;
  background-color: var(--color-primary);
}
